/*Dev's CSS*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);



.animationjs {
    font-size: 3em;
    margin-left: -35%;
    /*
    position: absolute;
    margin-left: 2.5em;
    top: 5.5em
*/
    color: #F76902;
    font-family: 'Open Sans', sans-serif;

}


.animatedRIT {
    display: inline-block;
    vertical-align: top;
    /*  margin-left: 1em;*/
}

.word {
    position: absolute;
    width: 500px;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
    color: #fff;
}

.belize {
    color: #fff;
}

.pomegranate {
    color: #fff;
}

.green {
    color: #fff;
}


.green {
  color: #fff;
}

.midnight {
  color: #fff;
}

/*...........................*/

.bk-image{
    max-width: 100%;
    height: 100%;
    margin-left: -20em;
    position: absolute;
    z-index: 99;
    margin-top: -8em

}


.container2{

    padding-bottom: 15em
}
.MainText{

    color: #F76902;
    padding: 1em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 35em;
    margin: 1em;
    text-align: center;
    display: inline-flex;
}

.title {
    color: grey;
    font-size: 18px;
}

.cardImg{
    width: 300px;
    height: 300px;
}





/*

Light reflection button styles

*/

.buttons {
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
/*   padding: 2em 0em; */
    color: #fff;

}

.btncontainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding:  40px 0px;
  width: 240px;
    height: 20px
}



.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #FFF;
  border: 4px solid #000;
  box-shadow:0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #FFF;
  box-shadow:0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span{
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #FFF;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}



/*---------- end styles for button --------*/







