/*Dev's CSS*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);



.animationjs{
    font-size: 3em;
    margin-left: -35%;
/*
    position: absolute;
    margin-left: 2.5em;
    top: 5.5em
*/
    color: #F76902;
    font-family: 'Open Sans', sans-serif;

}


.animatedRIT{
  display: inline-block;
  vertical-align: top;
/*  margin-left: 1em;*/
}

.word {
  position: absolute;
  width: 500px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #fff;
}

.belize {
  color: #fff;
}

.pomegranate {
  color: #fff;
}

.green {
  color: #fff;
}

.midnight {
  color: #fff;
}













/*...........................*/
